<a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('importProduct', object) }}" style="color:#3c8dbc" onclick="return confirm('Desea Importar Productos de la Tienda')">
    <i class="glyphicon glyphicon-import"></i>
    Import Products
</a>
