{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<a class="btn btn-sm btn-default edit_link" data-href="{{ admin.generateObjectUrl('edit', object) }}" style="color:#3c8dbc">
    <i class="glyphicon glyphicon-import"></i>
    Saving
</a>
    