<a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('importCategories', object) }}" style="color:#3c8dbc" onclick="return confirm('Desea Importar Categorías de la Tienda?')">
    <i class="glyphicon glyphicon-import"></i>
    Import Categories
</a>
