{% if object.getMarketplaceCategory() %}


    {#<a class="btn btn-primary edit_link" data-href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="fa fa-check" aria-hidden="true"></i>
        Seleccionar
    </a>#}

    <a class="btn btn-sm btn-default edit_link" data-href="{{ admin.generateObjectUrl('edit', object) }}" style="color:#3c8dbc">
        <i class="glyphicon glyphicon-import"></i>
        Seleccione la categoría del marketplace
    </a>
{%else%}
    <a class="btn btn-sm btn-default edit_link" data-href="{{ admin.generateObjectUrl('edit', object) }}" style="color:#3c8dbc">
        <i class="glyphicon glyphicon-import"></i>
        Seleccione la categoría del marketplace
    </a>
{%endif%}    
